{% extends 'index.html' %}

{% block title %}
    HOTEL SERENITY
{% endblock %}

{% block body %}
    {% for item in dados_hotel %}
        <div style="display: flex; flex-direction: row;">
            <div class="text-center" style="padding-top: 60px;">
                <h2 class="sedan-sc-regular;">{{item.titulo}}</h2>
                <p style="font-size: 15px; padding-top: 40px;">{{item.descricao}}</p>
            </div>
            <div>
                <img style="width: 400px; height: 300px;" src="{{item.foto_hotel.url}}" alt="Hotel"/>
            </div>
        </div>
    {% endfor %}
{% endblock %}

<style>
    .sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
</style>