{% extends 'index.html' %}

{% block title %}
    HOTEL SERENITY - LOGIN
{% endblock %}

{% block nav %}
    {% include "nav.html" %}
{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #eaccadc0;
            font-family: Arial, sans-serif;
        }
        .card {
            max-width: 450px;
            margin: 50px auto;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: #eaccadc0;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
            width: 400px;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #a9a9a9;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: transparent;
            justify-content: center;
            align-items: center;
        }
        input[type="submit"] {
            padding: 10px 20px;
            border: 1px solid #a9a9a9;
            background-color: transparent;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-top: 5px;

        }
        input[type="submit"]:hover {
            background-color: #f3dbc36c;
            color: #a9a9a9;
        }
    </style>

    <div class="card">
        <form action="login" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}

